### Build ###
/target/
*.war
*.ear
*.jar

### Maven ###
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

### IntelliJ IDEA ###
.idea/
*.iml
out/

### Eclipse ###
.project
.classpath
.settings/
bin/

### VS Code ###
.vscode/

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### OS ###
.DS_Store
Thumbs.db
desktop.ini

### Logs & Temp ###
*.log
*.tmp
*.bak
*.swp

### JetBrains Fleet ###
.fleet/

### Java ###
*.class

### Tomcat ###
tomcat/work/
tomcat/temp/
tomcat/logs/
tomcat/webapps/

### Misc ###
/screenshots/*.tmp
